
body {
    background-color: white;
    margin: 40px;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    color: white;
    background-color: rgb(218, 128, 68);
    font-size: 60px;
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    font-family: sans-serif;
    color: rgb(218, 128, 68);
    font-size: 24px;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

p{
    font-family: 'Sensation', sans-serif;
    text-align: left;
    color: rgb(2, 2, 95);
    max-width: 800px;
    margin: 0 auto;
}

ul{
    font-family: sans-serif;
    color: rgb(37, 111, 247);
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}

.subtitle {
    color: rgb(37, 111, 247);
    font-family: 'Sensation', sans-serif;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    height: 50px;
}